/*
    Document   : style
    Created on : May 1, 2013, 4:30:12 PM
    Author     : eric
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

@font-face
{
	font-family: MyHeaders;
	src: url('header.ttf');
}

body {
	background-color: #0a4e7a ;
}

#content {
	margin-left: 170px;
	margin-right: 20px;
	margin-top: 70px;
	padding: 20px;
	background-color: #6b97b4;
	box-shadow: 0px 1px 4px #000;
}

div#total {
    border-bottom-right-radius: 15px;
	right: 7px;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 8px;
	display: block;
	box-shadow: 0px 1px 4px #000;
	opacity: 0.7;
	top: 50px;
	position: fixed;
	background-color: #c2e1f6;
}

form#register {
	line-height: 1.3em;
	margin: auto;
	padding: 3px 20px;
	background-color:#6b97b4;
	box-shadow: 0px 1px 4px #000;
	width: 210px;
}
form#register input[type = "text"], form#register input[type = "password"] {
	float: right;
}
div#register {
	margin-left: 170px;
	margin-right: 20px;
	margin-top: 50px;
	padding: 20px;
}

h1 {
	text-align: center;
	font-family: MyHeaders;
	font-size: 2.5em;
}

th.profile {
	text-align: right;
}

/*																										*/
/*																										*/
/*								This sets up the navigation section and top bar							*/
/*																										*/
/*																										*/

.topbar {
    width: 100%;
    color: #6b97b4;
    height: 40px;
    top: 0px;
    left: 0px;
    position: fixed;
    min-width: 1000px;
    background-color: #000000;
    box-shadow: 0px 1px 4px #000;
    z-index: 15;
    opacity: 0.7;
    font-family: Verdana;
}
.topbar a {
	color: #6b97b4;
	font-size: smaller;
}
.topbar p {
	display: inline-block;
	margin: 9px;
}
.topbar form {
	margin: 9px;
}
.nav {
    border-bottom-left-radius: 15px;
	float: left;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 8px;
	display: block;
	box-shadow: 0px 1px 4px #000;
	top: 50px;
	position: fixed;
	background-color: whitesmoke;
}
.nav a {
	display: block;
	margin-bottom: 12px;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	width: 70px;
	text-decoration: none;
	color: #000000;
}
.nav a:hover {
	color: #badbf0;
    background-color: #000000;
    -webkit-transition: background-color 1.5s cubic-bezier(0, 0.75, 0, 1);
	-moz-transition: background-color 1.5s cubic-bezier(0, 0.75, 0, 1);
	-ms-transition: background-color 1.5s cubic-bezier(0, 0.75, 0, 1);
	-o-transition: background-color 1.5s cubic-bezier(0, 0.75, 0, 1);
	transition: background-color 1.5s cubic-bezier(0, 0.75, 0, 1);
	opacity: 0.8;
}